!!!
%html{'ng-app' => 'PresentItApp'}
  %head
    %title Present It!
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Luckiest+Guy'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Ubuntu'
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags

  %body{'ng-controller' => 'PresentItController'}
    = yield
